<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body id="body" class="text-blue-700">
    
  
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>
    <main>
        <div class="list-container">
        <a class="back-button" href="/books"><span class="material-icons">
            arrow_back
            </span> <p>Back</p> </a>
                   <div class="card">
                    
                    <% if(bookDetail.image){ %> 
                    <img src="/images/<%= bookDetail.image %>" class="card-img-top" alt="book cover">
                    <% } %>
                    <button class="showUploadButton" onclick="showUploadForm()"><span class="material-icons">edit</span></button>

                    
                        <form id="uploadForm" class="update-image" action="/books/<%= bookDetail._id %>/?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <div class="form-group"> 
                            <label for="file"></label>
                            <input class="form-control" type="file"  id="file" name="file" required/>
                             <div>
                            <input class="upload-button" type="submit" value="Upload"> 
                             </div>
                        </div>
                        </form>
                  
                

                    <div class="card-body">
                      <h2 class="card-title"><%= bookDetail.title %></h2>
                      <p> <span>Auteur:</span> <%= bookDetail.auteur %></p>
                      <p> <span>Pages:</span> <%= bookDetail.pages %> pages</p>
                      <p> <span>Price:</span> $<%= bookDetail.price %>,-</p>
                      <p> <span>description:</span> <%= bookDetail.description %></p>
                      <a class="btn btn-primary" style="width: 100%; margin: 1em 0 .5em 0;" href="/books/<%= bookDetail._id %>/update">Change Information</a>
                      <form action="/books/<%= bookDetail._id %>/?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure that you want to delete this?');">
                        <input class="btn btn-outline-danger type" type="submit" name="delete" id="delete" value="DELETE">
                    </form>   
                    </div>
                  </div>

    </main>
    
 <%- include('../views/partials/footer'); -%>
</body>
</html>