<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body id="body" class="text-blue-700">
    
  
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>
    <main>
        <h1><%= oneBook.volumeInfo.title %></h1>
        <p><%= oneBook.volumeInfo.authors %></p>
        <p><%= oneBook.volumeInfo.description %></p>

    </main>
    
 <%- include('../views/partials/footer'); -%>
</body>
</html>