<html>
  <head>
    <title>Books API Example</title>
    <%- include('../views/partials/head'); -%>
  </head>
  <body id="body" class="text-blue-700">
    
  
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>

    <main>
      <div class="list-container">
      <form action="/bookspot/" style="margin-top: 5em;" method="GET">
          <label for="search">Search Books</label>
          <input type="text" id="search" name="q" value="">
          <br>
          <input type="submit">
        </form>

        
      
      <% apiData.items.forEach(function(item){ %>
        <a href="/bookspot/<%= item.id %>">
        <div class="card">
          <div class="card-body">
            
            <% if(item.volumeInfo.imageLinks[1, 2 ,3]) { %>
              <p>helloworld</p>
              <% } else{ %> 
              <p>not found</p>
              <% } %>

            <h2 class="card-title"><%= item.volumeInfo.title %></h2>
            <p> <span>Auteur:</span><%= item.volumeInfo.authors %></p>
            <p> <span>Pages:</span><%= item.volumeInfo.pageCount %></p>
            <p> <span>Price:</span><%= item.saleInfo.saleability %></p>
          </div>
        </div>
        </a>
        <% }); %>
      </div>
        
    </main>
    <%- include('../views/partials/footer'); -%>
  </body>
</html>

