<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body id="body" class="text-blue-700">
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>
    <main class="detail">
    
    <div class="list-container">
        <div>
        <img src="<%= oneBook.volumeInfo.imageLinks.thumbnail %>" alt="thumbnail">
        <small class="form-text text-muted">Published: <%= oneBook.volumeInfo.publishedDate %></small>
      
        <form action="/bookspot/<%= oneBook.id %>" method="POST" enctype="multipart/form-data">
          <label for="add" hidden>Add to your booklist</label>
          <input type="file" value="oneBook.volumeInfo.imageLinks.thumbnail" hidden>
          <input type="submit">
        </form>
        <!-- Title -->
        <h1><%= oneBook.volumeInfo.title %></h1>

        <!-- Auteur -->
        <h3>Author(s)</h3>
        <p><%= oneBook.volumeInfo.authors %></p>

        <!-- Taal -->
        <h3>Genre(s)</h3>
        <p><%= oneBook.volumeInfo.categories %></p>

        <!-- Description -->
        <h3>Description</h3>
        <p><%= oneBook.volumeInfo.description %></p>
         

         <div id="tabs" class="tab" style="margin:2em 0 1em 0 ;">
          <button class="tabButton" onclick="openContent(event, 'extraInfo')">MORE INFO</button>
          <button class="tabButton" onclick="openContent(event, 'saleInfo')">BUY</button>
           
         </div>

        
        <section class="tabcontent" id="extraInfo">
        <h3>Title</h3>
        <h1><%= oneBook.volumeInfo.title %></h1>

        <!-- Auteur -->
        <h3>Publisher</h3>
        <p><%= oneBook.volumeInfo.publisher %></p>

        <!-- Taal -->
        <h3>Publish Date</h3>
        <p><%= oneBook.volumeInfo.publishedDate %></p>

        <!-- Description -->
        <h3>Categories</h3>
        <p><%= oneBook.volumeInfo.categories %></p>

        <!-- Pages -->
        <h3>Pages</h3>
        <p><%= oneBook.volumeInfo.pageCount %></p>

        <!-- Pages -->
        <h3>language</h3>
        <p><%= oneBook.volumeInfo.language %></p>

        <!-- Pages -->
        <h3>description</h3>
        <p><%= oneBook.volumeInfo.description %></p>

        <!-- Pages -->
        <h3>Extra info</h3>
        <p><a href="<%= oneBook.volumeInfo.infoLink %>">CLICK FOR MORE INFO!</a></p>
        </section>


         <!-- Sale info -->
        <section class="tabcontent" id="saleInfo">
        
        <!-- Country -->
        <h3>Country</h3>
        <p><%= oneBook.saleInfo.country %></p>

        <!-- for sale? -->
        <h3>For sale</h3>
        <p><%= oneBook.saleInfo.saleability %></p>

        <!-- Price -->
        <h3>Price</h3>
        <p><%= oneBook.saleInfo.saleInfo %></p>

        <!-- Buy Online -->
        <h3>Buy Online</h3>
        <p><a href="<%= oneBook.saleInfo.buyLink %>">CLICK HERE TO BUY!</a></p>

         </section>
         </div>
         </div>
    </main>
    
 <%- include('../views/partials/footer'); -%>
</body>
</html>