<html>
  <head>
    <title>Books API Example</title>
    <%- include('../views/partials/head'); -%>
  </head>
  <body id="body" class="text-blue-700">
    
  
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>

    <main>
      <div class="list-container">
      <form action="/bookspot/" style="margin-top: 5em;" method="GET">
          <label for="search">Search Books</label>
          <br>
          <input class="form-control" type="text" id="search" name="q" value="<%= username %>" placeholder="Type in a Book name:">
          
          <button  style="margin-top: .5em; width: 100%;" class="btn btn-primary" type="submit"> ZOEKEN </button>
        </form>

        
      <% if(username == undefined){ %>
          <div>
            <p style="font-weight: bold;">Type in a book name to search for a book!</p>
          </div>
      <% } else { %>
        <% apiData.items.forEach(function(item){ %>
          <a href="/bookspot/<%= item.id %>">
          <div class="card">
            <% if(item.volumeInfo.imageLinks) { %>
              <img class="card-img-top" src="<%= item.volumeInfo.imageLinks.thumbnail %>" alt="thumbnail">
              <% } else { %>
                <img class="card-img-top" src="/images/no-image.png" alt="thumbnail">
              <% } %>
            <div class="card-body">
              <h2 class="card-title"><%= item.volumeInfo.title %></h2>
              <p> <span>Auteur:</span><%= item.volumeInfo.authors %></p>
              <p> <span>Pages:</span><%= item.volumeInfo.pageCount %></p>
              <p> <span>Price:</span><%= item.saleInfo.saleability %></p>
            </div>
          </div>
          </a>
          <% }); %>
        </div>
        <% } %>
        
    </main>
    <%- include('../views/partials/footer'); -%>
  </body>
</html>

