<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body class="text-blue-700">
    <%- include('../views/partials/nav'); -%>
    <main>

      <!-- FILTER  -->
        <div class="list-container">
          <form action="/books" method="GET">
            <label for="search" class="form-label" >Zoek boek bij naam:</label>
            <input type="search" name="search" placeholder="Type in a Book name:">
            <button onClick="window.location.reload();">reset </button>
          </form>
        <% allBooks.forEach(function(Book){ %>
        <div class="card">
            <img src="/images/<%= Book.image %>" class="card-img-top" alt="<%= Book.image %>">
            <div class="card-body">
              <h2 class="card-title"><%= Book.title %></h2>
              <p> <span>Auteur:</span> <%= Book.auteur %></p>
              <p> <span>Pages:</span> <%= Book.pages %> pages</p>
              <p> <span>Price:</span> $<%= Book.price %>,-</p>
              <a href="/books/<%= Book._id %>" class="btn btn-primary" style="width:100%;">More information</a>
            </div>
          </div>
        <% }); %>
        </div>
    </main>
    <%- include('../views/partials/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
    
</body>
</html>