<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body id="body" class="text-blue-700">
  <div id="background-blur">
    
  
  <%- include('../views/partials/header'); -%>
    <br>
    <nav id="slideNav" class="hideNav">
    <%- include('../views/partials/showNav'); -%>
    </nav>

    <main>

      <!-- FILTER  -->
        <div class="list-container">
          <form action="/books" method="GET">
            <label for="search" class="form-label" >Zoek boek bij naam:</label>
            <br>
            <input class="form-control" type="search" name="q" placeholder="Type in a Book name:">
            <button class="btn btn-secondary-outlined" onClick="function reset()">Reset </button>
          </form>

        <% allBooks.forEach(function(Book){ %>
        <div class="card">
            <img src="/images/<%= Book.image %>" class="card-img-top" alt="<%= Book.image %>">
            <div class="card-body">
              <h2 class="card-title"><%= Book.title %></h2>
              <p> <span>Auteur:</span> <%= Book.auteur %></p>
              <p> <span>Pages:</span> <%= Book.pages %> pages</p>
              <p> <span>Price:</span> $<%= Book.price %>,-</p>
              <a href="/books/<%= Book._id %>" class="btn btn-primary" style="width:100%;">More information</a>
            </div>
          </div>
        <% }); %>
        </div>
    </main>
    <%- include('../views/partials/footer'); -%>
  </div>
</body>
</html>