<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body class="text-blue-700">
    <%- include('../views/partials/nav'); -%>
    <main>
        <div class="list-container">
    <% allBooks.forEach(function(Book){ %>
        <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title"><%= Book.title %></h2>
              <p> <span>Auteur:</span> <%= Book.auteur %></p>
              <p> <span>Pages:</span> <%= Book.pages %> pages</p>
              <p> <span>Price:</span> $<%= Book.price %>,-</p>
              <a href="/books/<%= Book._id %>" class="btn btn-primary" style="width:100%;">More</a>
            </div>
          </div>
        <% }); %>
        </div>
    </main>
    
</body>
</html>