<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
</head>
<body id="body" class="text-blue-700">
    
  
    <%- include('../views/partials/header'); -%>
      <br>
      <nav id="slideNav" class="hideNav">
      <%- include('../views/partials/showNav'); -%>
      </nav>
    <main>
        
    <div class="list-container">
        <form action="/books/<%= bookDetail._id %>/update/?_method=PUT" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title"  value="<%= bookDetail.title %>" placeholder="<%= bookDetail.title %>">
        </div>

        <div class="form-group">
            <label for="auteur">Auteur</label>
            <input type="text" class="form-control" name="auteur" id="auteur"  value="<%= bookDetail.auteur %>" placeholder="<%= bookDetail.auteur %>">
        </div>

        <div class="form-group">
            <label for="pages">Pages</label>
            <input type="number" class="form-control" name="pages" id="pages"  value="<%= bookDetail.pages %>" placeholder="<%= bookDetail.pages %>">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" id="price" value="<%= bookDetail.price %>" placeholder="<%= bookDetail.price %>">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" value="<%= bookDetail.description %>" placeholder="<%= bookDetail.description %>"></textarea>
        </div>

        <button style="width: 100%; margin-bottom: 1em;" type="submit" class="btn btn-primary btn-lg">UPDATE</button>
        </form> 
    </div>
        </div>
    </main>
    
</body>
</html>